<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="HADOOP_CONF_DIR" value="${HADOOP_CONF_DIR}"/>
<mapEntry key="PYSPARK_PYTHON" value="${PYSPARK_PYTHON}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/local/spark/bin/spark-submit"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--driver-memory 1024m --executor-cores 2 --executor-memory 1g --master yarn --deploy-mode client  ${resource_name} ${string_prompt}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc}/${project_name}"/>
</launchConfiguration>
